.form {
    background-color: grey;
    border: 2px solid #bd9c9c;
    border-radius: 0.5em;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 10px auto 0;
}
button {
    cursor: pointer;
    padding: 10px;
    border: 2px solid cadetblue;
    border-radius: 5px;
    background-color: teal;
    color: white;
}

button:hover {
    background-color: #be97b1;
    color: black;
}

input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}

