.footer {
  background-color: #dccb2e;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  font-size: 14px;

}

  .footer_img {
    width: 40px;
    border-radius: 50%;
  }
/*.link {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  flex-direction: row;*/
/*  */
/*}*/