
.table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    font-size: 0.7em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #817676;
}
/*t5d4.20.08*/