
.table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
}

thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
    font-size: 0.7em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #817676;
}

.deleted {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: cadetblue;
    flex-direction: column;


}
.img {
    height: 250px;
    width: 300px;
    border-radius: 50%;
    padding: 10px;
}

.btn_delete {
    cursor: pointer;
    padding: 10px;
    border: none;
    /*border: 2px solid cadetblue;*/
    border-radius: 5px;
    background-color: #e01212;
    color: white;
}

.btn_delete:hover {
    background-color: #e1179e;
    color: black;
}
.client_page {
    padding: 57px 27px;
    background-color: lightsalmon;

}
.client_details {
    margin: 0;
    font-size: 19px;
    letter-spacing: -0.05em;
}
.client_details li {
    line-height: 19px;
    padding-block: 10px;
}
.client_details li::marker {
    font-size: 1.7rem;
    color: #116f88;
}

.client_btn {
    margin-top: 46px;
    max-width: 400px;
    padding: 10px;
}
.main__title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}
.btn {

    margin: 6px;
}